.container {
  max-width: 1000px;
  margin: 1em auto;
  background-color: darkslategray;
}

.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.2em;
  justify-content: center;
}


 

#topTen{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: calc(100vh - 120px);
  overflow-y: scroll;
  margin-left: 3%;
}